<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <div class="card">
        <h1>Create New Task</h1>

        <form action="/addtask" method="POST">
            <input type="text" name="newtask" required>
            <button type="submit" class="blue-action">Add Task</button>
        </form>
    </div>

    <div class="card">
        <h2>Tasks Outstanding</h2>
        <form action="/removetask" method="POST">
            <ul>
                <% task.forEach(function(taskItem) { %>
                    <li class="hover-task">
                        <label>
                            <input type="checkbox" name="check" value="<%= taskItem %>"
                                <% if (complete.includes(taskItem)) { %>checked<% } %>
                                id="<%= taskItem %>">
                            <span><%= taskItem %></span>
                        </label>
                    </li>
                <% }); %>
            </ul>
            <button type="submit" class="complete-button">Confirm Completed Tasks</button>
        </form>
    </div>

    <div class="card">
        <h2>Completed Tasks</h2>
        <ul>
            <% complete.forEach(function(completeItem) { %>
                <li class="completed-li">
                    <span><%= completeItem %></span>
                    <button type="button" class="delete-button" data-task="<%= completeItem %>">Delete</button>
                </li>
            <% }); %>
        </ul>
    </div>

    <script src="/js/script.js"></script>

</body>
</html>

